<ion-slides [pager]="showPager" [options]="slideOpts">
  <ion-slide>
    <div class="slide-inner">
      <ion-img src="assets/images/ionic-logo.svg" class="logo ionic"></ion-img>
      <h1>Ionic</h1>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="slide-inner">
      <ion-img src="assets/images/angular.svg" class="logo angular"></ion-img>
      <h1>Angular</h1>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="slide-inner">
      <ion-img src="assets/images/cordova_bot.png" class="logo cordova"></ion-img>
      <h1>Cordova</h1>
    </div>
  </ion-slide>
</ion-slides>
